body {
  min-height: 4096px;
  margin: 0;
  padding: 20px;
  font-family: "Menlo";
}

p {
  position: fixed;
}

footer {
  position: fixed; /* Reste fixe à l'écran */
  bottom: 0; /* Collé en bas */
  left: 0; /* Collé à gauche */
  width: 100%; /* Prend toute la largeur */
  height: 50px; /* Hauteur du footer */
  background-color: red; /* Couleur initiale (sera modifiée par JS) */
}
